/* global settings */
.appllication {
    background-color: #3D405B;
    margin: 0;
    font-family: "Merriweather", serif
}
a {
    color: #3D405B;
    text-decoration: none;
}
a:visited {
    color: #3D405B;
    text-decoration: none;
}
a:hover {
    color: #E07A5F;
}


/*header*/
.application__header {
    background-color: #E07A5F;
    margin: 15px;
    padding: 10px;
    padding-bottom: 3px;
    font-family: "Oswald", serif;
    font-size: 40px;
}
.application__header__heading {
    font-size: 30px;
    padding-left: 20px;
    text-align:  left;
    color: beige;
}
.application__header__menu {
    background-color: #81B29A;
    margin: 3px;
    padding: 5px;
    font-size: 20px;
}
.application__header__menu__menu-item {
    padding: 15px;
}

/*main*/
.application__main__content {
    background-color: #CAEFCF;
    margin: 15px;
    padding: 27px;
}
.application__main__content__heading2 {
    font-size: 20px;
}
.application__main__content__article::first-letter {
    color: #3D405B;
}
.application__main__content__caption {
    font-size: 15px;
    font-weight: bolder;
}
/*table settings*/
.application__main__content__table {
    width: 75%;
}
.application__main__content__table__head-cell {
    text-align: left;
}
.application__main__content__strong-text {
    font-weight: bold;
}
h3 {
    font-size: 15px;
}
/* footer*/
.application__footer {
    background-color: #E07A5F;
    margin: 15px;
    padding: 5px;
    padding-left: 15px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

/*cards*/

.card {
    background-color: #CAEFCF;
    margin: 15px;
    padding: 10px;
    max-width: 400px;
    max-height: 500px;
}

.card-header {
    background-color: #81B29A;
    margin: 0;
    padding: 15px;
    font-size: 20px;
    color: #3D405B;
    font-family: "Oswald", serif;
}

.card-content {
    font-size: 15px;
    padding: 10px;
    text-align: justify;
    text-indent: 20px;
}

.card-action {
    text-align: right;
    font-family: "Oswald", serif;
    font-size: 15px;
    padding: 5px;
}
